# settings set target.max-string-summary-length 0
# settings set target.max-children-count 8196
command script import ~/.local/scripts/xu.py

settings set stop-line-count-before 10
settings set stop-line-count-after 10

